<% @page_title = "About" %>

<h1><span style="color:#fff;">About English Rakugo</span></h1>

    <div class="img-responsive top-image jumbotron">
      <div class="white-msg">
        <h1>this is test</h1>
      </div>
    </div>
    
<div class='row outline'>
  <h1><span style="color:#fff;">Company Outline</span></h1>
    <div class='col-sm-offset-2 col-sm-8'>
   　<table class="table">
        <tr>
          <th>Company Name</th>
          <td>NPO Kobe Travellers Club</td>
        </tr>
        <tr>
          <th>Headquarters</th>
          <td>Morikitamachi 4-8-23 Higashinada Kobe 
              Hyogo 658-0001 Japan
          </td>
        </tr>
        <tr>
          <th>Representative Director</th>
          <td>Hisao Hirako</td>
        </tr>
        <tr>
          <th>Our Vision</th>
          <td>The communities that form through events support people both personally and professionally. 
              We want to make it easier for event organizers to grow these communities, 
              and encourage participants to get further involved in them.
          </td>
        </tr>
        <tr>
          <th>History</th>
          <td>July 2010	&nbsp;First public release of _____<br />
              June 2013	&nbsp;_____ Inc established
          </td>
        </tr>
        <tr>
          <th></th>
          <td></td>
        </tr>
      </table>
    </div>
</div>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
      <%= form_for @top, :url => top_confirm_path do |f| %>
  
          <div class="inquiry-header">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact Us
          </div>
          <div class="blank">
            <span class="glyphicon glyphicon-star"></span>there are can't be blank
          </div>

                <% if @top.errors.present? %>
                   <div class="alert alert-danger">
                       <ul class="test">
                         <% @top.errors.full_messages.each do |full_message| %>
                          <li>
                            <%= full_message %>
                          </li>
                          <% end %>
                       </ul>
                   </div>
                <% end %>
  
              <div class="form-group">
                <%= f.label :name, class: "control-label" %><span class="glyphicon glyphicon-star"></span>
                <%= f.text_field :name, placeholder: 'Your name, please', class: "form-control text-code", autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :email, class: "control-label" %><span class="glyphicon glyphicon-star"></span>
                <%= f.text_field :email, placeholder: 'youremail@example.com', class: "form-control text-code" %>
              </div>
              <div class="form-group">
                <%= f.label :message, class: "control-label" %><span class="glyphicon glyphicon-star"></span>
                <%= f.text_area :message, placeholder: "less than 50 characters", class: "form-control area-code" %>
              </div>
              
          <div class="text-center"><%= f.submit 'Confirm', class: 'btn btn-update' %></div>
      <% end %>
     <%= link_to "Back", :back %>
  </div>
</div>