<% @page_title = "About" %>

<center><h1>About English Rakugo</h1></center>



    <div class="img-responsive top-image jumbotron">
      <div id="test-msg">
        <h1>this is test</h1>
      </div>
    </div>

<%= form_for @top, :url => top_confirm_path do |f| %>
  <div class="inquiry-header">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> お問い合わせ
  </div>
  
  <% if @top.errors.any? %>
   <div class="alert alert=danger" role="alert">
     <strong>入力内容にエラーがあります</strong>
     <ul>
       <% @top.errors.each do |attr, msg| %>
        <li><%= msg %></li>
        <% end %>
     </ul>
   </div>
  <% end %>
  
  <table class="table">
    <tr>
      <th>名前<span class="text-danger">(必須)</span></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>メールアドレス<span class="text-danger">(必須)</span></th>
      <td><%= f.text_field :email, placeholder: 'Email address' %></td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td><%= f.text_area :message %></td>
    </tr>
  </table>
  <%= f.submit '確認', class: 'btn btn-primary' %>
  <% end %>
<a name="inquiry" id="inquiry"><%= link_to "Back", :back %></a>

