<div class="top-organizer-show">
    <div class="upcoming">Organizer</div>
    <div class="top-vertical"><%= image_tag 'no-avatar.png', :class => "top-organizer-img" %><p>test</p></div>
    <div class="top-vertical"><%= image_tag 'no-avatar.png', :class => "top-organizer-img" %><p>test</p></div>
    <div class="top-vertical"><%= image_tag 'no-avatar.png', :class => "top-organizer-img" %><p>test</p></div>
</div>
    
<div class="top-events-left">
   <div class="upcoming">Upcoming events</div>
      <% @events.order('id').each do |event| %>
    
    <div class="row">
      <div class="wrap clearfix hvr-glow" data-url="<%= show_event_path(event) %>">
         <!--<div class="col-xs-12 col-md-7">-->
         <div class="left-image">
               <div id="all-events" class="trim">
                   <%#= event.image.inspect %>
                 <% if event.image.thumb.present? %>
                   <%= image_tag event.image.thumb.url , class: "img-responsive center-block" %>
                 <% end %>
               </div>
         </div>
         <!--<div class="col-xs-12 col-md-5">-->
         <div class="event-contents">
                <div class="top-events-title"><%= link_to event.title, show_event_path(event) %></div>
                    <div class="top-events-time">
                      <% if event.time || event.end_time.present? %>
                         <%= I18n.l event.date, format: :full_date if event.date.present? %>,
                           &nbsp;<%= event.time.strftime("%H:%M") %>&nbsp;~
                      <% end %>
                    </div>
                  <div class="venue-top glyphicon glyphicon-flag"><%= t '.Venue' %>:<%= event.address %></div>
                  <div class="price-top">
                    <% if event.price.blank? || event.price == 0 %>
                     <%= t '.Admission_free' %>
                    <% else %>
                     <%= number_to_currency(event.price, :precision => 0, :local => 'jp') %>&nbsp;<%= t '.at_the_door' %>
                    <% end %>
                  </div>
                <div class="event-text"><%= simple_format event.text %></div>
         </div>
      </div>
    </div><!-- row -->
      <hr>
      <% end %>
      
      <div class="top-pagination">
          <%#= link_to "test", spots_test_path %>
      </div>
      
</div><!-- top-events-left -->

<div class="row-right">
  <div class="upcoming">Blogs</div>
           <% @blogs.each_with_index do |blog| %>
           <ul>
              <li><%= link_to blog.title, show_blog_path(blog) %></li>
           </ul>
           <% end %>
</div><!-- row-right -->
    
      <script>
          jQuery('.wrap').click(function() {
              location.href = jQuery(this).attr('data-url');
          });
      </script>