<div class="white-msg">
   <h1>English Rakugo</h1>
</div>
<div class="title-text">
   <%= t '.text_text_text_text_text_text_text_text_text_text' %>
</div>

<% @events.each do |event| %>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <div class="hvr-glow">
    <div class="wrap" data-url="<%= show_event_path(event) %>">
      <div class="col-md-7">
       <div class="trim"><%= image_tag event.image.thumb.url if event.image.thumb.present? %></div>
      </div>
        <div class="col-md-5">
          <h3><%= link_to event.title, show_event_path(event) %></h3>
            <h4>
             <span style="color:#535353">
              <% if event.time || event.end_time.present? %>
                 <%= I18n.l event.date, format: :full_date if event.date.present? %>,
                 &nbsp;<%= event.time.strftime("%H:%M") %>
                 &nbsp;~&nbsp;
                   <% if (event.date.present? && event.end_date.present?) && (event.date != event.end_date) %>
                      <%= I18n.l event.end_date, format: :full_date %>,
                   <% end %>
                  <%= event.end_time.strftime("%H:%M") if event.end_time.present? %>
              <% end %>
             </span>
            </h4>
          <div class="event-text"><%= simple_format event.text %></div>
        </div>
          <div align="right" class="user_avatars">
            　<% event.booking_users.order('updated_at desc').limit(10).each do |user| %>
            <div>
              <span>
                <% if user.profile && user.profile.avatar && !user.profile.private? %>
                  <%= image_tag user.profile.avatar , :alt => user.name , :class => "img-circle_h"%>
                <% end %>
              </span>
                <p class="arrow_box"><%= user.name %></p>
            </div>
                <% end %>
                  &nbsp;
        <span class="badge"><%= event.booking_users.count %></span>&nbsp;<%= t '.participants' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
<script>
    jQuery('.wrap').click(function() {
        location.href = jQuery(this).attr('data-url');
    });
</script>

  <hr>
<% end %>