<div class="white-msg"><h1>English Rakugo</h1></div>

<div class="title-text"><%= t '.text_text_text_text_text_text_text_text_text_text' %></div>

  <% @events.each do |event| %>

<div class="row">
  <div class="wrap clearfix hvr-glow" data-url="<%= show_event_path(event) %>">
     <div class="col-xs-12 col-md-7">
           <div class="trim">
               <%= event.image.inspect %>
             <% if event.image.thumb.present? %>
               <%= image_tag event.image.thumb.url , class: "img-responsive center-block" %>
             <% end %>
           </div>
     </div>
     <div class="col-xs-12 col-md-5">
            <h3><div class="text-center"><%= link_to event.title, show_event_path(event) %></div></h3>
              <h4><div class="text-center"><span style="color:#535353">
                <% if event.time || event.end_time.present? %>
                   <%= I18n.l event.date, format: :full_date if event.date.present? %>,
                   &nbsp;<%= event.time.strftime("%H:%M") %>
                   &nbsp;~&nbsp;
                     <% if (event.date.present? && event.end_date.present?) && (event.date != event.end_date) %>
                        <%= I18n.l event.end_date, format: :full_date %>,
                     <% end %>
                    <%= event.end_time.strftime("%H:%M") if event.end_time.present? %>
                <% end %>
              </span></div></h4>
            <div class="event-text"><%= simple_format event.text %></div>
     </div>
     <div class="user_avatars">
              　<% event.booking_users.order('updated_at desc').limit(10).each do |user| %>
                    <% if user.profile && user.profile.avatar && user.profile.private %>
                      <%= image_tag user.profile.avatar , :alt => user.name , :class => "img-circle_h"%>
                    <% end %>
                      <p class="arrow_box"><%= user.name %></p>
                <% end %>
                    &nbsp;
               <span class="badge"><%= event.booking_users.count %></span>&nbsp;<%= t '.participants' %>&nbsp;&nbsp;&nbsp;
     </div>
  </div>
</div>
  <hr>
  <% end %>

  <script>
      jQuery('.wrap').click(function() {
          location.href = jQuery(this).attr('data-url');
      });
  </script>