<h1>English Rakugo</h1>

<% @events.each do |event| %>

  <div class="panel panel-default">
    <div class="panel-heading">
       <div class="text-center">
         <%= link_to event.title, event_path(event) %>
       </div>
    </div>
      
    <div class="panel-body">
      <div class="image_left"><%= image_tag event.image.thumb.url if event.image.thumb.present? %></div>
      　<p><%= simple_format event.text %></p>
    　<div class="clearfix"></div>
      　<hr>
    　<div align="right" class="user_avatars">
      　<% event.booking_users.order('updated_at desc').limit(40).each do |user| %>
          <div>
            <span>
              <% if user.profile && user.profile.avatar? %>
                <%= image_tag user.profile.avatar , :alt => user.name , :class => "img-circle_h"%>
              <% else %>
                <%= image_tag 'no-avatar.png', width: 200, :class => "img-circle_h"%>
              <% end %>
            </span>
            <p class="arrow_box"><%= user.name %></p>
          </div>
        <% end %>
        &nbsp;
        joining <%= event.booking_users.count %> people now!
      </div>
    </div>
  </div>
<% end %>