<% @page_title = "Create Profile" %>

<div class="inquiry-header"><%= @page_title %></div>

<div class='row'>
  <div class='col-sm-offset-3 col-sm-6'>
    <div class="card card-show-container">
        <%= form_for(@profile) do |f| %>
            <%#= f.label :Image %>
            <div align="center">
              <% if @profile.avatar? %>
                 <%= image_tag @profile.avatar.thumb.url, class: "profile-present-avatar img-responsive" %>
              <% else %>
                 <%= image_tag 'no-avatar.png', width: 200, :class => "profile-present-avatar img-responsive" %>
              <% end %>
            
              <%= f.hidden_field :avatar_cache %>
              <%= f.hidden_field :avatar %>
                        
              <img id="img_prev" width=200 height=200 src="#" class="img-thumbnail hidden"/>
                  <%= f.file_field :avatar, :id => 'post_post_img' %>

            </div>            
            <%= f.check_box :private %>
                        
            <div class="text-center"><%= f.submit 'Create', class: "btn btn-compbooking" %></div>
        <% end %>
      <div><%= link_to "Back", :back %></div>
    </div><!-- card card-show-container -->
  </div>
</div>