   <div class="form-group">
       <% if @blog.photo? %>
         <%= image_tag @blog.photo.thumb.url, class: "organizer_photo img-responsive" %>
       <% else %>
         <%= image_tag 'noimage.gif', width: 200, :class => "organizer_photo img-responsive" %>
       <% end %>
         <%= f.hidden_field :photo_cache %>
       <img id="photo_prev" width=200 height=200 src="#" class="photo-thumbnail hidden"/>
         <%= f.file_field :photo, :id => 'post_post_img' %>
   </div>

  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, placeholder: 'title', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :text %><br />
    <%= f.text_area :text, placeholder: "Compose new micropost...", class: "form-control" %>
  </div>
