<%  @page_title = "Blog" %>

<div class="inquiry-header"><%= @blog.title %></div>

<div class="event-side">
         <div class="my_profiles"><%= t '.Organizer' %></div>
      <table class="table">
            <div class="text-center">
              <% if @blog.user.avatar? %>
                <%= image_tag(@blog.user.avatar.thumb.url, :class => "mypage_img") %>
              <% else %>
                <%= image_tag 'no-avatar.png', width: 200, :class => "mypage_img"%>
              <% end %>
            </div>
            <tr>
            　<th>Organizer name</th>
            　<td><%= @blog.user.organizername %></td>
          　</tr>
          　<tr>
            　<th>Introduction</th>
            　<td><%= @blog.user.sentence %></td>
        　　</tr>
        　　<tr>
            　<th>Blogs</th>
            　<td>
               <% @user.blogs.each_with_index do |blog| %>
                  <div><%= link_to blog.title, show_blog_path(blog) %></div>
               <% end %>
            　</td>
        　　</tr>
        　　<tr>
        　　    <th>Events</th>
        　　    <td><% @user.events.each_with_index do |event| %>
                 <div><%= link_to event.title, show_event_path(event) %></div>
        　　    <% end %>
        　　    </td>
        　　</tr>
      </table>
</div>

<div class="card card-show-container">
    
                    <div class="">
                       <% if @blog.photo? %>
                          <%= image_tag @blog.photo.thumb.url, :class => "mypage_event_img" %>
                       <% else %>
                          <%= image_tag 'noimage.gif', :class => "mypage_event_img" %>
                       <% end %>
                    </div>
                        <%= @blog.title %>
                        <%= @blog.text %>
    
</div><!-- /card-container -->