<div class='row'>
  <div class='col-sm-offset-3 col-sm-6'>
    <div class="panel panel-default">
    	<div class="panel-heading">
    		<h2>Edit <%= resource_name.to_s.humanize %></h2>
    	</div>

    	<div class="panel-body">
    	  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:method => :put, :multipart => true}) do |f| %>
          <% if @user.errors.present? %>
            <div class="alert alert-danger"><%= devise_error_messages! %></div>
          <% end %>
          
          <% if current_user.organizer? %>
              <div align="center">
                 <% if current_user.photo? %>
                    <%= image_tag current_user.photo.thumb.url, class: "organizer_photo img-responsive" %>
                 <% else %>
                    <%= image_tag 'noimage.gif', width: 200, :class => "organizer_photo img-responsive" %>
                 <% end %>
                 <%= f.hidden_field :photo_cache %>
                <img id="photo_prev" width=200 height=200 src="#" class="photo-thumbnail hidden"/>
                    <%= f.file_field :photo, :id => 'post_post_img' %>
              </div>            
              <div class="field">
                 <%= f.label :organizername %><br />
                 <%= f.text_field :organizername, class: "form-control", placeholder: "OrganizerName" %>
              </div>
              <div class="field">
                 <%= f.label :sentence %><br />
                 <%= f.text_area :sentence, class: "form-control", placeholder: "Introduction", rows: 10, cols: 45 %>
              </div>
          <% end %>
          
            <div align="center">
              <% if @user.avatar? %>
                 <%= image_tag @user.avatar.thumb.url, class: "profile-present-avatar img-responsive" %>
              <% else %>
                 <%= image_tag 'no-avatar.png', width: 200, :class => "profile-present-avatar img-responsive" %>
              <% end %>
            
              <%= f.hidden_field :avatar_cache %>
              <%= f.hidden_field :avatar %>
                        
              <img id="img_prev" width=200 height=200 src="#" class="img-thumbnail hidden"/>
                  <%= f.file_field :avatar, :id => 'post_post_img' %>

            </div>
            <label class="remove-image">
              <% if @user.avatar.present? %>
                <%= f.check_box :remove_avatar %>&nbsp;Remove Image 
            </label>
            
            <div class="toggle-me-edit">
                <%= f.check_box :private %>&nbsp;Choose your Profile-Image status
              <% end %>
            </div>
            
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: false %>
          </div>
      
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: false %>
          </div>
    
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
    
          <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)
            <em><%= @minimum_password_length.to_s + " characters minimum" if @minimum_password_length %></em></i><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
    
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          
          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        <% end %>
      </div>

    	<div class="panel-footer">
    	  <div class='row'>
    	    <div class='col-xs-12'>
            <h5>Cancel my account</h5>
          </div>
          <div class='col-xs-2'>
            <p>Unhappy?</p>
          </div>
          <div class='col-xs-4'>
            <%= button_to "Cancel my account", registration_path(resource_name),
                                               data: { confirm: "Are you sure?" },
                                               method: :delete, class: 'btn btn-xs' %>
    	    </div>
    	  </div>
    	</div>
    </div>
    <%= link_to "Back", :back %>
  </div>
</div>