
   <div class="form-group">
  <%= form_for(@timetable) do |f| %>
  　<input type="hidden" name="event_id" value="<%= @timetable.event_id %>">
     <% if @timetable.errors.present? %>
       <div class="alert alert-danger">
         <%= alert %>
         <ul>
             <% @timetable.errors.full_messages.each do |full_message| %>
             <li>
                 <%= full_message %>
             </li>
             <% end %>
         </ul>
      </div>
     <% end %>
 
<div class="form-group form-inline">
   <%= f.label :Time %><br />
       <%= f.text_field :time, style: "width:100px;", class: "form-control", placeholder: "00:00" %>
   <%= f.label :Description %><br />
       <%= f.text_field :description, style: "width:300px;", class: "form-control", placeholder: "less than 50 characters" %>
       
       <%= f.submit 'Create', class: "btn btn-sm btn-primary" %>
</div>

<% end %>