<% @page_title = 'Timetable' %>

<div class="inquiry-header">Create Timetables</div>

<div class='row'>
  <div class='col-sm-offset-2 col-sm-8'>
    <div class="timetable-back">
    
        <%= render 'form' %>
          <span style="font-weight:bold">&nbsp;Timetable</span>
            <table class="table table-bordered">
                <thead>
            　　　<tr class="active">
            　　　     <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">Time</th>
            　　  　  <th class="col-xs-3 col-ms-3 col-md-4 col-lg-4">Description</th>
            　　　</tr>
                </thead>
              <% @timetables.each do |timetable| %>
                <tbody>
                    <tr>
                       <th><%= timetable.time %></th>
                       <th><%= timetable.description %></th>
                       <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1 hidden1"><%= link_to "Edit", edit_timetable_path(timetable) %>&nbsp/
                       <%= link_to "Delete", timetable_path(timetable), method: :delete, data: { confirm: 'Are you sure？' } %></th>
                    </tr>
                </tbody>
              <% end %>
            </table>
        
         <%= link_to "Show Event", show_event_path(@event) %><br />
         <%= link_to "Organizer Page", organizer_path %>
      
    </div>
  </div>
</div>