<% @page_title = 'Events' %>

<div class="row">
  <div class='col-sm-offset-1 col-sm-10'>
      <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
        <h1><span style="color:#fff;"><%= @page_title %></span></h1></div>
    <div class="event-back">
        <ul class="nav nav-tabs">
          <li role="presentation"><%= link_to 'Dashboard', admin_dashboard_path, class: "glyphicon glyphicon-th" %></li>
          <li role="presentation" class="active"><%= link_to 'Events', admin_events_path, class: "glyphicon glyphicon-flag" %></li>
          <li role="presentation"><%= link_to 'Users', admin_users_path, class: "glyphicon glyphicon-list-alt" %></li>
        </ul>
        
    <div align="right"><%= link_to "Event Create", new_event_path, class: "btn btn-eventcreate" %></div>
      
     <% if @events.present? %>
        <table class="table">
          <tr>
             <th>id</th>
             <th>title</th>
             <th>Price</th>
             <th>Participants</th>
             <th></th>
             <th></th>
          </tr>

        <% @events.each do |event| %>
          <tr>
             <td><%= event.id %></td>
             <td><%= link_to event.title, show_event_path(event) %></td>
             <td><% if event.price.blank? || event.price == 0 %>free
                 <% else %><%= number_to_currency(event.price, :precision => 0, :local => 'jp') %>
                 <% end %>
             </td>
             <td><%= event.booking_users.count %>/<%= event.capacity %></td>
             <td><%= link_to "Edit", edit_event_path(event) %></td>
             <td><%= link_to 'Timetable', timetables_path(event_id: event.id) %></td>
          </tr>
        <% end %>

        </table>
     <% else %>
        <p>no event</p>
     <% end %>
        
    </div>
  </div>
</div>