<% @page_title = 'events' %>

 <div class="row">

    <%= render 'admin/sidemenu' %>

   <div class="col-md-10">
       <h1><span style="color:#fff;"><%= @page_title %></span></h1>

    <div class="btn-right">
       <%= link_to new_event_path, class: "btn btn-default" do %>
         <i class="glyphicon glyphicon-chevron-left">Event Create</i>
       <% end %>
    </div>  
      
     <% if @events.present? %>
        <table class="table">
          <tr>
             <th>id</th>
             <th>title</th>
             <th>Price</th>
             <th>Participants</th>
             <th></th>
             <th></th>
          </tr>

        <% @events.each do |event| %>
          <tr>
             <td><%= event.id %></td>
             <td><%= link_to event.title, show_event_path(event) %></td>
             <td><% if event.price.blank? || event.price == 0 %>free
                 <% else %><%= number_to_currency(event.price, :precision => 0, :unit => "¥") %>
                 <% end %>
             </td>
             <td><%= event.booking_users.count %>/<%= event.capacity %></td>
             <td><%= link_to "Edit", edit_event_path(event) %></td>
             <td><%= link_to 'Timetable', timetables_path(event_id: event.id) %></td>
          </tr>
        <% end %>

        </table>
     <% else %>
        <p>no event</p>
     <% end %>
   </div>
 </div>