<% @page_title = 'events' %>

 <div class="row">

    <%= render 'admin/sidemenu' %>

   <div class="col-md-10">
       <center><h1><%= @page_title %></h1></center>
      
      <div align="right"><%= link_to "Event Create", new_event_path %></div>
      
     <% if @events.present? %>
        <table class="table">
          <tr>
             <th>id</th>
             <th>title</th>
             <th>#</th>
          </tr>

        <% @events.each do |event| %>
          <tr>
             <td><%= event.id %></td>
             <td><%= link_to event.title, show_event_path(event) %></td>
             <td>
               <%= link_to "Edit", edit_event_path(event) %>
             </td>
          </tr>
        <% end %>

        </table>
     <% else %>
        <p>no event</p>
     <% end %>
   </div>
 </div>