<% @page_title = 'Participants' %>

<div class="row">
  <div class='col-sm-offset-1 col-sm-10'>
      <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
        <h1><span style="color:#fff;"><%= @event.title %></span></h1></div>
    <div class="event-back">
        
     <% if @event.booking_users.present? %>
        <table class="table">
          <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Email</th>
             <th>Participants</th>
             <th><% if @event.total_price.nil? %>
                  Admission free
                 <% else %>
                  Total
                 <% end %>
             </th>
             <th></th>
             <th></th>
          </tr>

         <% @booking_users.each do |user| %>
          <tr>
             <td><%= user.id %></td>
             <td><%= link_to user.name, show_user_path(user) %></td>
             <td><%= user.email %></td>
             <td><%= user.bookings.find_by(event_id: @event.id).people %></td>
                 <% people = user.bookings.find_by(event_id: @event.id).people %>
             <td><%= (people * @event.price) if @event.price.present? && people.present? %></td>
             <td>
               <%= link_to "Unbooking", event_bookings_path(@event, user_id: user.id), method: :delete, data: { confirm: "Are you sure you want to unbooking the User <strong>#{user.name}</strong>?",
               cancel: "Cancel",
               commit: "Unbooking"}, title: "Confirmation" %>
             </td>
          </tr>
         <% end %>
          <tr class="active">
             <td>Total</td>
             <td></td>
             <td></td>
             <td><%= @event.bookings.sum(:people, :conditions => "people is not null") %></td>
             <td><%= @event.total_price %></td>
             <td></td>
          </tr>
        </table>
     <% else %>
        <p>no participants</p>
     <% end %>
        
    </div>
    <div class="back"><%= link_to "Back", :back %></div>
  </div>
</div>