 <% @page_title = 'Users' %>

<div class="row">
  <div class='col-sm-offset-1 col-sm-10'>
      <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
        <h1><span style="color:#fff;"><%= @page_title %></span></h1></div>
    <div class="event-back">
        <ul class="nav nav-tabs">
          <li role="presentation"><%= link_to 'Dashboard', admin_dashboard_path, class: "glyphicon glyphicon-th" %></li>
          <li role="presentation"><%= link_to 'Events', admin_events_path, class: "glyphicon glyphicon-flag" %></li>
          <li role="presentation" class="active"><%= link_to 'Users', admin_users_path, class: "glyphicon glyphicon-list-alt" %></li>
        </ul>
      <br />
      
        <% if @users.present? %>
        <table class="table table-striped">
          <tr>
             <th>id</th>
             <th>name</th>
             <th>email</th>
             <th>profile image</th>
             <th></th>
          </tr>

        <% @users.each do |user| %>
          <tr>
             <td><%= user.id %></td>
             <td><%= link_to user.name, show_user_path(user) %></td>
             <td><%= user.email %></td>
             <td><% if user.profile.present? && user.profile.private %>
                  Public
                 <% else %>
                  Private
                 <% end %>
             </td>
             <td>
               <%= link_to "Delete", user, method: :delete, data: { confirm: 'Are you sure?' } %>
             </td>
          </tr>
        <% end %>

        </table>
     <% else %>
        <p>no user</p>
     <% end %>
        
    </div>
  </div>
</div>