    <%  @page_title = "BookingEvents" %>

<div class="inquiry-header"><%= @page_title %></div>

<div class="card card-mypage-container">

<%= render 'me_side' %>
      
  <div class="me-right">
          <ul class="nav nav-tabs">
            <li role="presentation"><%= link_to 'Events', users_me_path, class: "glyphicon glyphicon-flag" %></li>
            <li role="presentation"><%= link_to 'Blogs', blogs_path, class: "glyphicon glyphicon-list-alt" %></li>
            <li role="presentation" class="active"><%= link_to 'BookingEvents', booking_events_path, class: "glyphicon glyphicon-list-alt" %></li>
          </ul>
                
          
          <%= render 'my_events' %>
          
  </div><!-- /me-right -->
</div><!-- /card-container -->
