    <%  @page_title = "Else" %>

<div class="inquiry-header"><%= @page_title %></div>

<div class="card card-mypage-container">

<%= render 'me_side' %>
      
  <div class="me-right">
          <ul class="nav nav-tabs">
            <li role="presentation"><%= link_to 'Events', users_me_path, class: "glyphicon glyphicon-flag" %></li>
            <li role="presentation"><%= link_to 'Blogs', postblog_path, class: "glyphicon glyphicon-list-alt" %></li>
            <li role="presentation" class="active"><%= link_to 'else', else_path, class: "glyphicon glyphicon-th" %></li>
          </ul>
                
          
          else</br>
          
          <%= link_to 'Organizer Top Page', users_me_path %>
          
  </div><!-- /me-right -->
</div><!-- /card-container -->
