<%  @page_title = "My page" %>

<div class="inquiry-header"><%= @page_title %></div>

<div class="row">
  <aside class="col-md-4">
    <table class="table">
          <div class="text-center">
            <% if !current_user.profile.nil? && current_user.profile.avatar? %>
              <%= image_tag(current_user.profile.avatar.thumb.url, :class => "my_page_img") %>
            <% else %>
              <%= image_tag 'no-avatar.png', width: 200, :class => "my_page_img"%>
            <% end %>
          </div>
      <div align="right"><%= link_to 'Edit Profile-Image', new_profile_path %></div>
      <div align="right"><%= link_to 'Edit User', edit_user_registration_path %></div>
      
        <tr>
          <th><%= t '.User_name' %></th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th><%= t '.Email_address' %></th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th><%= t '.Profile-Image_status' %></th>
          <td>
            <% if current_user.profile.present? && current_user.profile.private %>
              <%= t '.Public' %>
            <% else %>
              <%= t '.Private' %>
            <% end %>
          </td>
        </tr>
        <tr><th><td></td></th></tr>
    </table>
  </aside>
      
  <div class="col-md-8">
          <span style="font-weight:bold"><%= t '.My_events' %></span>
            <hr>
            <% current_user.booking_events.each_with_index do |event, i| %>
              <% if (event.date.present? && event.time.present?) %>
                <span style="margin-left:20px"><%= I18n.l event.date, format: :full_date %></span>
                 ,&nbsp;<%= event.time.strftime("%H:%M") %>~
              <% end %><br />
              <div class="me-event">
                <% if event.image? %>
                    <%= image_tag event.image.thumb.url, :class => "e-img-mini" %>
                <% else %>
                    <%= image_tag 'noimage.gif', :class => "e-img-mini" %>
                <% end %>
                <%= link_to event.title, show_event_path(event) %><br />
                <span style="font-weight:bold"><%= t '.Confirmatin_number' %></span><%= current_user.bookings[i].number if current_user.bookings[i].number.present? %><br />
                <span style="font-weight:bold"><%= t '.Booking_people' %></span><%= current_user.bookings[i].people if current_user.bookings[i].people.present? %><br />
                <%= link_to "unbooking", event_bookings_path(event, user_id: current_user.id), method: :delete, data: { confirm: 'Are you really unbooking the event registration？',
                cancel: "Cancel",
                commit: "Unbooking"}, title: "Confirmation", class: "btn btn-unbooking" %>
              </div>
              <hr>
            <% end %>
  </div>
</div>


