<%  @page_title = "Organizer" %>

<div class="inquiry-header"><%= @page_title %></div>

<div class="organizer-side">
    test
</div>

<div class="organizer-back">
        
        <div align="right"><%= link_to "Event Create", new_event_path, class: "btn btn-eventcreate" %></div>
  
  <% if current_user.events.present? %>
  
     <table class="table">
          <tr>
             <th>title</th>
             <th></th>
             <th></th>
             <th>created_at</th>
          </tr>
              
        <% current_user.events.each_with_index do |event| %>
          <tr>
             <td><%= link_to event.title, "" %></td>
             <td><%= link_to 'Timetables', timetables_path(event_id: event.id) %></td>
             <td><%= link_to "Edit", edit_event_path(event) %></td>
             <td><%= event.created_at.strftime("%Y, %m/%d - %H:%M") %></td>
          </tr>
        <% end %>
     </table>
  <% else %>
        <p>no event</p>
  <% end %>
    
    
</div> <!-- event-back -->