<%  @page_title = "User page" %>

<h1><span style="color:#fff;"><%= @page_title %></span></h1>

<div class="event-back">
  <div class='row'>
    <div class='col-sm-offset-3 col-sm-6'>
   　  <table class="table">
          <div class="text-center">
            <% if !@user.profile.nil? && @user.profile.avatar? %>
              <%= image_tag(@user.profile.avatar.thumb.url, :class => "img-circle") %>
            <% else %>
              <%= image_tag 'no-avatar.png', width: 200, :class => "img-circle"%>
            <% end %>
          </div>
      
        <tr>
          <th><%= t '.User_name' %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th><%= t '.Email_address' %></th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>Profile-Image status</th>
          <td>
            <% if @user.profile.present? && @user.profile.private %>
              Public
            <% else %>
              Private
            <% end %>
          </td>
        </tr>
        <tr><th><td></td></th></tr>
      </table>
          <span style="font-weight:bold"><%= t '.My_events' %></span><br />
            <% current_user.booking_events.each_with_index do |event, i| %>
              <% if (event.date.present? && event.time.present?) %>
                <span style="margin-left:20px"><%= I18n.l event.date, format: :full_date %></span>
                 ,&nbsp;<%= event.time.strftime("%H:%M") %>~
              <% end %><br />
              <div class="me-event">
                <% if event.image? %>
                    <%= image_tag event.image.thumb.url, :class => "e-img-mini" %>
                <% else %>
                    <%= image_tag 'noimage.gif', :class => "e-img-mini" %>
                <% end %>
                <%= link_to event.title, show_event_path(event) %><br />
                <span style="font-weight:bold"><%= t '.Confirmatin_number' %></span><%= current_user.bookings[i].number if current_user.bookings[i].number.present? %><br />
                <span style="font-weight:bold"><%= t '.Booking_people' %></span><%= current_user.bookings[i].people if current_user.bookings[i].people.present? %><br />

              </div>
              <hr>
            <% end %>
       <div class="back"><%= link_to "Back", :back %></div>
    </div>
  </div>
</div>
