<% @page_title = "Confirm" %>
<h1><span style="color:#fff;"><%= @page_title %></span></h1>

<div class='row'>
   <div class='col-md-6 col-md-offset-3'>
      <%= form_for @event do |f| %>
        <table class="table">
           <tr>
             <th>Image</th>
            </tr>
            <tr>
               <td style="border-style: none;">
                 <%= f.hidden_field :image_cache %>
                 <%= image_tag @event.image.thumb.url, class: "event-present-image" if @event.image? %>
               </td>
           </tr>
           <tr>
             <th>Title</th>
            </tr>
            <tr>
               <td style="border-style: none;">
                 <%= f.hidden_field :title %>
                 <%= @event.title %>  
               </td>
            </tr>
               <th>Date time</th>
            </tr>
            <tr>
               <td style="border-style: none;">
                 <%= f.hidden_field :date %>
                 <%= @event.date %>
                 <%= f.hidden_field :time %>
                 <%= @event.time %>
               </td>
            </tr>
            <tr>
               <th>Text</th>
            </tr>
            <tr>
               <td style="border-style: none;">
                  <%= f.hidden_field :text %>
                  <%= simple_format(@event.text) %>
               </td>
            </tr>
            <tr>
                <th>Address</th>
            </tr>
            <tr>
                <td style="border-style: none;">
                  <%= f.hidden_field :address %>
                  <%= @event.address %>    
                </td>
            </tr>
            <tr>
                <th>Description</th>
            </tr>
            <tr>
                <td style="border-style: none;">
                  <%= f.hidden_field :description %>    
                  <%= @event.description %>
                </td>
            </tr>
        </table>                

        <div class="actions">
          <%= f.submit 'Back', name: 'back' %>
        </div>
        <div>
          <%= f.submit ' Update', class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
   </div>
</div>