<%  @page_title = "Edit" %>

<h1>Edit</h1>

<div class="container">
  <table class="table">

      <%= form_for @event, url: :event do |f| %>
          <div class="field">
            <%= f.label :title %><br />
            <%= f.text_field :title, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :text %><br />
            <%= f.text_field :text, autofocus: true %>
          </div>
      <% end %>

    
  </table>
</div>
