<%  @page_title = "Edit Event" %>

<h1><%= @page_title %></h1>

<div class='row'>
   <div class='col-md-6 col-md-offset-3'>
          <%= form_for @event, url: :event do |f| %>
              
              <div class="form-group">
                <%= f.label :image %>
                <%= image_tag @event.image.thumb.url, class: "event-present-image" if @event.image? %>
                <%#= f.file_field :image, class: "none" %>
                <%= f.hidden_field :image_cache %>
                
                  <img id="img_prev" width=200 height=200 src="#" class="eimg-thumbnail hidden"/>
                  <%= f.file_field :image, :id => 'post_post_img' %>
                  <script type="text/javascript">
                    $(function() {
                      function readURL(input) {
                        if (input.files && input.files[0]) {
                          var reader = new FileReader();
                    
                          reader.onload = function (e) {
                            $('.event-present-image').remove();
                            $('#img_prev').html("");
                            $('#img_prev').attr('src', e.target.result);
                          }
                          reader.readAsDataURL(input.files[0]);
                        }
                      }
                    
                      $("#post_post_img").change(function(){
                        $('#img_prev').removeClass('hidden');
                        readURL(this);
                      });
                    });
                  </script>
                
              </div>
          
              <div class="form-group">
                <%= f.label :title %><br />
                <%= f.text_field :title, class: "form-control", autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :text %><br />
                <%= f.text_area :text, class: "form-control", rows: 10, cols: 45, autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :address %><br />
                <%= f.text_field :address, class: "form-control", autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :description %><br />
                <%= f.text_field :description, class: "form-control", autofocus: true %>
              </div>
              <div>
                <%= f.submit 'Update', class: "btn btn-large btn-primary" %>
              </div>
          <% end %>
          
        <%= link_to "Delete Event", @event, method: :delete, data: { confirm: 'Are you sure？' } %>
      　<%= link_to "Back", :back %>
  　　
   </div>
</div>