<% @page_title = "Create Event" %>

<h1><span style="color:#fff;"><%= @page_title %></span></h1>

<div class='row'>
   <div class='col-md-6 col-md-offset-3'>
      <%= form_for @event, url: {action: 'confirm'} do |f| %>
              <div class="form-group">
                <div>
                  <%= f.label :image %>
                  <% if @event.image? %>
                    <%= image_tag @event.image.thumb.url, class: "event-present-image" %>
                  <% else %>
                    <%= image_tag 'noimage.gif', width: 200, :class => "event-present-image" %>
                  <% end %>
                  <%= f.hidden_field :image_cache %>
                  <img id="img_prev" width=200 height=200 src="#" class="eimg-thumbnail hidden"/>
                  <%= f.file_field :image, :class => 'preview' %>
                </div>
                
                <div>
                  <%= f.label :image2 %>
                  <% if @event.image2? %>
                    <%= image_tag @event.image2.thumb.url, class: "event-present-image" %>
                  <% else %>
                    <%= image_tag 'noimage.gif', width: 200, :class => "event-present-image" %>
                  <% end %>
                  <%= f.hidden_field :image2_cache %>
                  <img id="img_prev" width=200 height=200 src="#" class="eimg-thumbnail hidden"/>
                  <%= f.file_field :image2, :class => 'preview' %>
                </div>
                
                <div>
                  <%= f.label :image3 %>
                  <% if @event.image3? %>
                    <%= image_tag @event.image3.thumb.url, class: "event-present-image" %>
                  <% else %>
                    <%= image_tag 'noimage.gif', width: 200, :class => "event-present-image" %>
                  <% end %>
                  <%= f.hidden_field :image3_cache %>
                  <img id="img_prev" width=200 height=200 src="#" class="eimg-thumbnail hidden"/>
                  <%= f.file_field :image3, :class => 'preview' %>
                </div>
                

              </div>
              <div class="form-group">
                <%= f.label :title %><br />
                <%= f.text_field :title, placeholder: 'title', class: "form-control", autofocus: true %>
              </div>
              
              <div class="form-inline">
                    <div class="form-group picker">
                       <%= f.label :Start_date_time %><br />
                      <div class="input-group date datepicker">
                         <%= f.text_field :date, class: "form-control" %>
                          <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                          </span>
                      </div>
                        <%= f.time_select :time, {use_month_numbers: true}, {class: "form-control"} %>&nbsp;&nbsp;~
                    </div>
                  
                    <div class="form-group picker">
                       <%= f.label :End_date_time %><br />
                      <div class="input-group date datepicker">
                         <%= f.text_field :end_date, class: "form-control" %>
                          <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                          </span>
                      </div>
                        <%= f.time_select :end_time, {use_month_numbers: true}, {class: "form-control"} %>
                    </div>
              </div>
              
              <div class="form-inline">
                  <div class="form-group">
                    <%= f.label :price %><br />
                    <div class="inline"><%= f.text_field :price, placeholder: '¥', class: "form-control" %></div>
                  </div>
                  <div class="form-group">
                    <%= f.label :capacity %><br />
                    <%= f.text_field :capacity, class: "form-control" %>
                  </div>
              </div>
              
              <div class="form-group">
                <%= f.label :text %><br />
                <%= f.text_area :text, placeholder: 'text', class: "form-control", rows: 10, cols: 45 %>
              </div>
              <div class="form-group">
                <%= f.label :address %><br />
                <%= f.text_field :address, placeholder: 'address', class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :description %><br />
                <%= f.text_field :description, placeholder: 'description', class: "form-control" %>
              </div>
              <div>
                <%= f.submit 'Confirm', class: "btn btn-large btn-primary" %>
              </div>
      <% end %>
   </div>
</div>