<%  @page_title = "Event" %>

        <div class="event-image">
            <% if @event.image? %>
                <%= image_tag @event.image.thumb.url, class: "event-show-image img-responsive" %>
            <% else %>
                <%= image_tag 'noimage.gif', width: 200, :class => "event-show-image img-responsive" %>
            <% end %>
        </div>
        <div class="event-title"><%= @event.title %></div>
          
          <div class="event-time">
             <% if @event.time || @event.end_time.present? %>
                 <%= I18n.l @event.date, format: :full_date if @event.date.present? %>
                 ,&nbsp;<%= @event.time.strftime("%H:%M") %>
                 &nbsp;~&nbsp;
                   <% if (@event.date.present? && @event.end_date.present?) && (@event.date != @event.end_date) %>
                      <%= I18n.l @event.end_date, format: :full_date %>,
                   <% end %>
                  <%= @event.end_time.strftime("%H:%M") if @event.end_time.present? %>
             <% end %>
          </div>
          
          <div class="price">
            <% if @event.price.blank? || @event.price == 0 %>
             <%= t '.Admission_free' %>
            <% else %>
             <%= number_to_currency(@event.price, :precision => 0, :local => 'jp') %>&nbsp;<%= t '.at_the_door' %>
            <% end %>
          </div>
            
            <div class="venue glyphicon glyphicon-flag"><%= t '.Venue' %>:<%= @event.address %></div>
            <div class="text-center"><%= render 'events/booking_form', event: @event %></div>
    
          <div class="right show_avatars">
            　<% @event.booking_users.order('updated_at desc').limit(40).each do |user| %>
                <div>
                  <span>
                    <% if user.profile && user.profile.avatar && user.profile.private %>
                      <%= image_tag user.profile.avatar , :alt => user.name , :class => "img-circle_h"%>
                    <% end %>
                  </span>
                 <p class="arrow_box"><%= user.name %></p>
                </div>
              <% end %>
            &nbsp;
            <span class="badge"><%= @event.booking_users.count %></span>&nbsp;&nbsp;<%= t '.participants' %>
          </div>
          
          <div class="event-text2"><%= simple_format @event.text %></div>
          
          <% if @timetable.present? %>
            <div class='row'>
              <div class='col-sm-offset-2 col-sm-8'>
                <span style="font-weight:bold">&nbsp;<%= t '.Timetable' %></span>
                <table class="table table-bordered">
                    <thead>
                　　　<tr class="active">
                　　　     <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1"><%= t '.Time' %></th>
                　　  　  <th class="col-xs-3 col-ms-3 col-md-4 col-lg-4"><%= t '.Description' %></th>
                　　　</tr>
                    </thead>
                  <% @timetables.each do |timetable| %>
                    <tbody>
                        <tr>
                           <th><%= timetable.time %></th>
                           <th><%= timetable.description %></th>
                        </tr>
                    </tbody>
                  <% end %>
                </table>
              </div>
            </div>
          <% end %>
    </div>
    
  <div class="venue glyphicon glyphicon-flag"><%= t '.Venue' %>:<%= @event.address %></div>
            
    <%#= @hash.inspect %>
    
  <div id="map" style='width:100%; height: 500px; text-align: center; '></div>

    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(15);
        });
    </script>
    
    <div class="back"><%= link_to "Back", :back %></div>