<%  @page_title = "Event" %>

<div class="event-back">
    <div class='row'>
          <div class="event-image">
            <% if @event.image? %>
                <%= image_tag @event.image.thumb.url, class: "event-present-image" %>
            <% else %>
                <%= image_tag 'noimage.gif', width: 200, :class => "event-present-image" %>
            <% end %>
          </div>
          <div class="top-head">
            <%= @event.title %>
          </div>
          <h1><span style="color:#535353"><% if @event.time.present? %><%= I18n.l @event.date, format: :full_date %>, <%= @event.time.strftime("%H:%M") %><% end %></span></h1>
            <div class="venue glyphicon glyphicon-flag"><%= t '.Venue' %>:<%= @event.address %></div>
            <div class="event-text2"><%= simple_format @event.text %></div>
    
          <div align="right" class="user_avatars">
            　<% @event.booking_users.order('updated_at desc').limit(40).each do |user| %>
                <div>
                  <span>
                    <% if user.profile && user.profile.avatar? %>
                      <%= image_tag user.profile.avatar , :alt => user.name , :class => "img-circle_h"%>
                    <% else %>
                      <%= image_tag 'no-avatar.png', width: 200, :class => "img-circle_h"%>
                    <% end %>
                  </span>
                 <p class="arrow_box"><%= user.name %></p>
                </div>
              <% end %>
            &nbsp;
            <span class="badge"><%= @event.booking_users.count %></span>&nbsp;&nbsp;<%= t '.participants' %>
          </div>
          <% if @timetable.present? %>
            <div class='row'>
              <div class='col-sm-offset-2 col-sm-8'>
                <span style="font-weight:bold">&nbsp;Timetable</span>
                <table class="table table-bordered">
                    <thead>
                　　　<tr class="active">
                　　　     <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1"><%= t '.Time' %></th>
                　　  　  <th class="col-xs-3 col-ms-3 col-md-4 col-lg-4"><%= t '.Description' %></th>
                　　　</tr>
                    </thead>
                  <% @timetables.each do |timetable| %>
                    <tbody>
                        <tr>
                           <th><%= timetable.time %></th>
                           <th><%= timetable.description %></th>
                        </tr>
                    </tbody>
                  <% end %>
                </table>
              </div>
            </div>
          <% end %>
          
        <div class="text-center"><%= render 'events/booking_form', event: @event %></div>
    </div>
    
  <div class="venue glyphicon glyphicon-flag"><%= t '.Venue' %>:<%= @event.address %></div>
            
    <%#= @hash.inspect %>
    
  <div id="map" style='width: 1010px; height: 500px; text-align: center; '></div>

    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(15);
        });
    </script>
    
    <%= link_to "Back", :back %>
</div>