<%  @page_title = "Event" %>

<div class="event-side">
         <div class="my_profiles"><%= t '.Organizer' %></div>
      <table class="table">
            <div class="text-center">
              <% if @event.user.photo? %>
                <%= image_tag(@event.user.photo.thumb.url, :class => "organizer_photo") %>
              <% else %>
                <%= image_tag 'noimage.gif', width: 200, :class => "organizer_photo"%>
              <% end %>
            </div>
            <tr>
            　<th>Name</th>
            　<td><%= @event.user.organizername %></td>
          　</tr>
          　<tr>
            　<th>Introduction</th>
            　<td><%= @event.user.sentence %></td>
        　　</tr>
        　　<tr>
            　<th>Blogs</th>
            　<td>
               <% @user.blogs.each_with_index do |blog| %>
                  <%= link_to blog.title, blog_path(@event) %>
               <% end %>
            　</td>
        　　</tr>
      </table>
</div>

<div class="card card-show-container">

    <ul class="bxslider1">
      <%= link_to image_tag( @event.image,:alt => "rakugo", class: "") ,"#" if @event.image.present? %>
      <%= link_to image_tag( @event.image2,:alt => "rakugo", class: "") ,"#" if @event.image2.present? %>
      <%= link_to image_tag( @event.image3,:alt => "rakugo", class: "") ,"#" if @event.image3.present? %>
      <%= link_to image_tag( @event.image4,:alt => "rakugo", class: "") ,"#" if @event.image4.present? %>
      <%= link_to image_tag( @event.image5,:alt => "rakugo", class: "") ,"#" if @event.image5.present? %>
    </ul>
     
    <div id="bx-pager">
        <%= link_to image_tag( @event.image,:alt => "rakugo", class: ""), "", "data-slide-index" => "0" if @event.image.present? %>
        <%= link_to image_tag( @event.image2,:alt => "rakugo", class: ""), "", "data-slide-index" => "1" if @event.image2.present? %>
        <%= link_to image_tag( @event.image3,:alt => "rakugo", class: ""), "", "data-slide-index" => "2" if @event.image3.present? %>
        <%= link_to image_tag( @event.image4,:alt => "rakugo", class: ""), "", "data-slide-index" => "3" if @event.image4.present? %>
        <%= link_to image_tag( @event.image5,:alt => "rakugo", class: ""), "", "data-slide-index" => "4" if @event.image5.present? %>
    </div>
        <script>
        $('.bxslider1').bxSlider({ 
            auto: true,
            mode: 'fade',
            speed: 2000, /*default500*/
            pause: 3000, /*default4000*/
            touchEnabled: true,
            pagerCustom: '#bx-pager'
        });
        </script>
        
        <div class="event-title"><%= @event.title %></div>
          
          <div class="event-time">
             <% if @event.time || @event.end_time.present? %>
                 <%= I18n.l @event.date, format: :full_date if @event.date.present? %>
                 ,&nbsp;<%= @event.time.strftime("%H:%M") %>
                 &nbsp;~&nbsp;
                   <% if (@event.date.present? && @event.end_date.present?) && (@event.date != @event.end_date) %>
                      <%= I18n.l @event.end_date, format: :full_date %>,
                   <% end %>
                  <%= @event.end_time.strftime("%H:%M") if @event.end_time.present? %>
             <% end %>
          </div>
            
            <div class="venue"><%= t '.Venue' %>:<%= @event.address %></div>
            <div class="capacity"><%= t '.Capacity'%>:<%= @event.capacity %><%= t '.People' %></div>
            
            <div><%= render 'events/attend_form' %></div>
            
            <div class="text-center"><%= render 'events/booking_form', event: @event %></div>
    
          <div class="price">
            <% if @event.price.blank? || @event.price == 0 %>
             <%= t '.Admission_free' %>
            <% else %>
             <%= number_to_currency(@event.price, :precision => 0, :local => 'jp') %>&nbsp;<%= t '.at_the_door' %>
            <% end %>
          </div>
    
          <div class="right show_avatars">
            　<% @event.booking_users.order('updated_at desc').limit(40).each do |user| %>
                <div>
                  <span>
                    <% if user.avatar.present? && user.private %>
                      <%= image_tag user.avatar , :alt => user.name , :class => "img-circle_h"%>
                    <% end %>
                  </span>
                 <p class="arrow_box"><%= user.name %></p>
                </div>
              <% end %>
            &nbsp;
            <span class="badge"><%= @event.booking_users.count %></span>&nbsp;&nbsp;<%= t '.participants' %>
          </div>
          
          <div class="event-text2"><%= simple_format @event.text %></div>
          
          <% if @timetable.present? %>
            
              <div class='timetable'>
                <span style="font-weight:bold">&nbsp;<%= t '.Timetable' %></span>
                <table class="table table-bordered">
                    <thead>
                　　　<tr class="active">
                　　　     <th class="time"><%= t '.Time' %></th>
                　　  　  <th class="description"><%= t '.Description' %></th>
                　　　</tr>
                    </thead>
                  <% @timetables.each do |timetable| %>
                    <tbody>
                        <tr>
                           <th><%= timetable.time %></th>
                           <th><%= timetable.description %></th>
                        </tr>
                    </tbody>
                  <% end %>
                </table>
              </div>
            
          <% end %>
          
  <div class="show-back"><%= link_to "Back", :back %></div>
 
 <div class="social"><%= social_share_button_tag(@event.title) %></div>
  
  <div class="venue-map glyphicon glyphicon-flag"><%= t '.Venue' %>:<%= @event.address %></div>
            
    <%#= @hash.inspect %>
    
  <div id="map" style='width:100%; height: 500px; text-align: center; '></div>

</div><!-- /card-container -->

    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(15);
        });
    </script>