<%  @page_title = "Event" %>

<h1><%= @event.title %></h1>

<div class='row'>
    <div class="container">
      <table class="table">
          <tr>
            <th><%= @event.text %></th>
          </tr>
        
      </table>
        <%= render 'events/booking_form', event: @event %>
    </div>
        <p><%= link_to "Edit", edit_event_path(@event) %></p>
        <p><%= link_to "Destroy", @event, method: :delete, data: { confirm: 'Are you sure？' } %></p>
</div>