<%  @page_title = "confirm" %>

<h1><span style="color:#fff;">Confirm to Booking</span></h1>

<div class="event-back">
  <div class='row'>
    <div class='col-sm-offset-3 col-sm-6'>
      <div align="center">
        <% if @event.image? %>
              <%= image_tag @event.image.thumb.url, class: "ticket-image img-responsive" %>
        <% else %>
              <%= image_tag 'noimage.gif', width: 200, :class => "ticket-image img-responsive" %>
        <% end %>
      <div class="ticket-title">
        <%= @event.title %>
      </div>
      
      <div class="ticket-time">
          <% if @event.time || @event.end_time.present? %>
             <%= I18n.l @event.date, format: :full_date if @event.date.present? %>
             ,&nbsp;<%= @event.time.strftime("%H:%M") %>
             &nbsp;~&nbsp;
          <% if (@event.date.present? && @event.end_date.present?) && (@event.date != @event.end_date) %>
             <%= I18n.l @event.end_date, format: :full_date %>,
          <% end %>
             <%= @event.end_time.strftime("%H:%M") if @event.end_time.present? %>
          <% end %>
      </div>
      <div class="ticket-price">
        <div class="glyphicon glyphicon-flag"></div><%= t '.Venue' %>:<%= @event.address %>&nbsp;<br />
          <% if @event.price.blank? || @event.price == 0 %>
             <%= t '.Admission_free' %>
          <% else %>
             <%= number_to_currency(@event.price, :precision => 0, :local => 'jp') %>&nbsp;<%= t '.at_the_door' %>
          <% end %>
      </div>
    
      <%= form_for(@event.bookings.build , url: event_bookings_path(@event)) do |f| %>
        <%= f.select :people, options_for_select((1..5).to_a, selected: @booking_people), class: "people_select_tag" %>
      <input type="hidden" name="tax_1" value="<%= @event.price %>">
      people
      <div id="total"><%= @event.price * (@booking_people || 1) if @event.price.present? %></div>total
      <script type="text/javascript">
      	$(document).ready(function(){
      		$("select#booking_people").change(function(){
      			$("select#booking_people option:selected").each(function(){
       				var tax_1= $('[name=tax_1]').val();
       				var booking = $('[name="booking[people]"]').val();
      				var result = tax_1 * booking ;
       
      				$("#total").html(Math.ceil(result));
      			});
      		});
      	});
      </script>
      
    <div style="margin:10px">
      <%= f.submit 'booking', class: "btn btn-booking" %>
    </div>
    <% end %>
      </div>
        <div class="back"><%= link_to "Back", :back %></div>
    </div>
  </div>
</div>