<% @page_title = "Create" %>

<div class="inquiry-header">Create Organizer</div>

<div class='row'>
  <div class='col-sm-offset-3 col-sm-6'>
    <div class="card card-show-container">
        
        <%= form_for(@introduction) do |f| %>
            <%#= f.label :Image %>
            <div align="center">
               <% if @introduction.photo? %>
                 <%= image_tag @introduction.photo.thumb.url, class: "profile-present-avatar img-responsive" %>
               <% else %>
                 <%= image_tag 'no-avatar.png', width: 200, :class => "profile-present-avatar img-responsive" %>
               <% end %>
              <%= f.hidden_field :photo_cache %>
              <img id="img_prev" width=200 height=200 src="#" class="img-thumbnail hidden"/>
                  <%= f.file_field :photo, :id => 'post_post_img' %>
            </div>
            <div class="form-group">
               <%= f.label :name %><br />
               <%= f.text_field :name, class: "form-control", placeholder: "OrganizerName" %>
            </div>
                        
            <div class="text-center"><%= f.submit 'Create', class: "btn btn-compbooking" %></div>
        <% end %>
        
      <div><%= link_to "Back", :back %></div>
    </div><!-- card card-show-container -->
  </div>
</div>