<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <%= link_to "English Rakugo", root_path %>
    </div>
    
     <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li>
            <% if I18n.locale != :ja %>
              <%= link_to_if params[:locale].present?, '日本語',  url_for(controller: controller.controller_name, action: controller.action_name, locale: '') %>
            <% end %>
            <% if I18n.locale != :en %>
              <%= link_to_if params[:locale] != 'en',  'English',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'en') %>
            <% end %>
          </li>
          <li><%= link_to "About us", about_path %></li>
          <li><%= link_to "Contact", about_path(anchor: 'inquiry'), class: "inquiry" %></li>
        </ul>
    </nav>
  </div>
</footer>