<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
    
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "日本語" %></li>
                <li><%= link_to "About us", '#' %></li>
                <li>
                    <% if user_signed_in? %>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <%= current_user.name %>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><%= link_to "My page", users_me_path %></li>
                            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                          </ul>
                        </div>

                    <% else %>
                        <%= link_to new_user_session_path do %>
                        <span class="glyphicon glyphicon-user"></span> Sign in
                      <% end %>
                    <% end %>
                </li>
            </ul>
        </nav>
    </div>
</header>