<header id="top-head">
    <div class="inner">
        <div id="mobile-head">
            <h1 class="logo">Logot</h1>
            <div id="nav-toggle">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <nav id="global-nav">
            <ul>
                    <li><%= link_to "Home", root_path %></li>
                    <li>
                        <% if I18n.locale != :en %>
                            <%= link_to_if params[:locale].present?, 'English',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'en') %>
                        <% end %>
                        <% if I18n.locale != :ja %>
                            <%= link_to_if params[:locale] != 'ja',  '日本語',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'ja') %>
                        <% end %>
                    </li>
                <% if user_signed_in? %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                      <% if !current_user.profile.nil? && current_user.profile.avatar? %>
                                        <%= image_tag(current_user.profile.avatar.thumb.url, :class => "img-circle_h") %>
                                      <% else %>
                                        <%= image_tag 'no-avatar.png', width: 200, :class => "img-circle_h" %>
                                      <% end %> <%= current_user.name %>
                            <span class="caret"></span>
                              <ul class="dropdown-menu">
                                <li><%= link_to "My page", users_me_path %></li>
                                <li>
                                    <% if current_user.organizer %>
                                      <%= link_to "Organizer Page", organizer_path %>
                                    <% end %>
                                </li>
                                <li>
                                    <% if current_user.admin %>
                                      <%= link_to "Admin Page", admin_events_path %>
                                    <% end %>
                                </li>
                                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to Sign out?",
                                                                                                                cancel: "Cancel",
                                                                                                                commit: "Sign out"}, title: "Confirmation" %>
                                </li>
                              </ul>
                    </li>
                <% else %>
                    <li>
                         <%= link_to new_user_session_path do %>
                            <span class="glyphicon glyphicon-user"></span> Sign in
                         <% end %>
                    </li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>